<div class="patient-details">
<h4>First Name</h4>
<p><%= @patient.first_name %></p>

<h4>Last Name</h4>
<p><%= @patient.last_name %></p>

<h4>Age</h4>
<p><%= @patient.age %></p>

<h4>Gender</h4>
<p><%= @patient.gender %></p>

<h4>Blood type</h4>
<p><%= @patient.bloodtype %></p>

</br>

<h3>Add a new record for this patient</h3>
<%= bootstrap_form_for [@patient, MedicalRecord.new] do |f| %>
  <%= f.text_area :note %>

  <%= f.hidden_field :patient_id, value: @patient.id %>
  <%= f.submit "Save Medical Record", class: "btn btn-primary" %>
<% end %>
